body,
html {
    display: block;
    width: 90%;
    background-color: #f8f9fa;
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ecef;
    border-radius: 20pt;
    line-height: 2em;
    margin: auto;
}

.text-center {
    text-align: center;
    padding: 1rem;
}

#img-div {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.img {
    border-radius: 4pt;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    text-align: center;
}

#title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
    padding: 4rem;
}

#subtitle {
    font-family: 'Source Serif Pro';
    font-weight: 100;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
}

.body {
    font-family: 'Open Sans Pro';
    padding: 2rem;
    margin: 1rem;
}

#tribute-link {
    margin: 0 auto;
}

#link {
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
}

ul {
    text-align: center;
    margin: 0 auto;
}

li {
    display: inherit;
}

.list-div {
    display: block;
    margin: 0 auto;
    text-align: left;
}

#list-title {
    margin: 2 auto;
    text-align: center;
    margin-top: 4rem;
}

.list {
    padding: 0 2rem 2rem 2rem;
    margin: auto;
}

.footer {
    background-color: #dee2e6;
    border-radius: 4pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 10pt;
    padding: 20pt;
}